<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
</head>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<body>
	<h2>测试BootStrap</h2>
	<script type="text/javascript">
    // const pr = /a|b/;
    var pr = /^[0-9]+[0-9]*$/;
   // var pr = /^\d+$/;
    //var pr = /\d/;
    //var pr = /^\d{2}.+[^0-9A-Z]$/;
    var t = pr.test("123asd123");
   // var t = "123asd1231".match(pr);
   	//alert(pr);
   	alert(t); 
	//var str = "d232.f";
	//var t = str.search("d.*\.f");
	//var t = str.match(/\d/g);
	//alert(t);
	</script>
</body>
</html>
