<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>首页</title>
</head>
<link href="jqgrid/ui.jqgrid-bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/main.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="jqgrid/grid.locale-cn.js"></script>
<script type="text/javascript" src="jqgrid/jquery.jqGrid.min.js"></script>
<body>
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>
	<script src="testJqGrid.js"></script>
</body>
</html>
